.time {
    float: right;
    position: absolute; 
    right: 2%; 
  }

  #minutes {
    font-size: 40px;
    display: inline-block
  }
  
  #seconds {
    font-size: 40px;
    display: inline-block
  }

  #points {
      text-align: center;
  }

  .container {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    position: relative;
}

#quiz-questions {
    display: none;
}
  
#game-over {
    display: none;
}

ul {
    list-style-type: none;
}